In [1]:
import pandas as pd
import numpy as np
import nltk

# Challenge 1

In [2]:
from nltk.corpus import brown

In [3]:
nltk.download("brown")

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [4]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [5]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [6]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

C:\Users\aleja\Anaconda3\lib\site-packages\IPython\core\inputtransformer2.py:468: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

In [7]:
from nltk import sent_tokenize, word_tokenize

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [9]:
word_tokenize(text)

['Ironhack',
 'is',
 'a',
 'Global',
 'Tech',
 'School',
 'ranked',
 'num',
 '2',
 'worldwide',
 '.',
 'Our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 '.',
 'This',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 ',',
 'which',
 'consist',
 'of',
 'a',
 'nine-weeks',
 'immersive',
 'programming',
 ',',
 'UX/UI',
 'design',
 'or',
 'Data',
 'Analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one-week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 '.',
 'We',
 'are',
 'present',
 'in',
 '8',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 '9',
 'locations',
 '-',
 'Madrid',
 ',',
 'Barcelona',
 ',',
 'Miami',
 ',',
 'Paris',
 ',',
 'Mexico',
 'City',
 ',',
 'Berlin',
 ',',
 'Amsterdam',
 ',',
 'Sao',
 'Paulo',
 'and',
 'Lisbon',
 '.']

# Challenge 2

In [10]:
text2 = "@Ironhack's-#Q website 776-is http://ironhack.com [(2018)])"

In [11]:
import re
def clean_up(s):
    s = re.sub("https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+", ' ', s)
    s = re.sub('\d+', ' ', s)
    s = re.sub('\W+', ' ', s)
    return s.lower().strip()
clean_up(text2)

'ironhack s q website is'

In [12]:
from nltk import word_tokenize
def tokenize(s):
    s = clean_up(s)
    return word_tokenize(s)

In [13]:
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.stem import SnowballStemmer

nltk.download('wordnet')
nltk.download('porter')
nltk.download('snowball')
nltk.download('stopwords')

lemmatizer = WordNetLemmatizer()
lemmatizer.lemmatize('was')
lemmatizer.lemmatize('was', pos='v')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Error loading porter: Package 'porter' not found in index
[nltk_data] Error loading snowball: Package 'snowball' not found in
[nltk_data]     index
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

'be'

In [14]:
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

def stem_and_lemmatize(s):
    return [WordNetLemmatizer().lemmatize(SnowballStemmer("english").stem(x)) for x in tokenize(s)]
    
print(stem_and_lemmatize(text2))

['ironhack', 's', 'q', 'websit', 'is']

In [15]:
from nltk.corpus import stopwords

def remove_stopwords(s):
    stop_words = stopwords.words('english')
    return [x for x in stem_and_lemmatize(s) if not x in stop_words]

print(remove_stopwords(text2))

['ironhack', 'q', 'websit']

# Challenge 3

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

text3 = "Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(text3)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [17]:
df = pd.read_csv('Sentiment140.csv/Sentiment140.csv')

df_sample = df.sample(n=20000, random_state=1)

In [18]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [19]:
df.dtypes

target     int64
id         int64
date      object
flag      object
user      object
text      object
dtype: object

In [23]:
df_sample['text_processed'] = df_sample["text"].apply(remove_stopwords)
df_sample.head()

,target,id,date,flag,user,text,text_processed
514293,0,2190584004,Tue Jun 16 03:08:48 PDT 2009,NO_QUERY,Vicki_Gee,i miss nikki nu nu already shes always there ...,"[miss, nikki, nu, nu, alreadi, shes, alway, ne..."
142282,0,1881451988,Fri May 22 04:42:15 PDT 2009,NO_QUERY,PatCashin,So I had a dream last night. I remember a sig...,"[dream, last, night, rememb, sign, clear, told..."
403727,0,2058252964,Sat Jun 06 14:34:17 PDT 2009,NO_QUERY,deelectable,@girlyghost ohh poor sickly you (((hugs)) ho...,"[girlyghost, ohh, poor, sick, hug, hope, feel,..."
649503,0,2237307600,Fri Jun 19 05:34:22 PDT 2009,NO_QUERY,justinekepa,it is raining again,[rain]
610789,0,2224301193,Thu Jun 18 09:20:06 PDT 2009,NO_QUERY,cmatt007,@MissKeriBaby wish I was in LA right now,"[misskeribabi, wish, wa, la, right]"

In [27]:
df_sample.head()

,target,id,date,flag,user,text,text_processed
514293,0,2190584004,Tue Jun 16 03:08:48 PDT 2009,NO_QUERY,Vicki_Gee,i miss nikki nu nu already shes always there ...,"[miss, nikki, nu, nu, alreadi, shes, alway, ne..."
142282,0,1881451988,Fri May 22 04:42:15 PDT 2009,NO_QUERY,PatCashin,So I had a dream last night. I remember a sig...,"[dream, last, night, rememb, sign, clear, told..."
403727,0,2058252964,Sat Jun 06 14:34:17 PDT 2009,NO_QUERY,deelectable,@girlyghost ohh poor sickly you (((hugs)) ho...,"[girlyghost, ohh, poor, sick, hug, hope, feel,..."
649503,0,2237307600,Fri Jun 19 05:34:22 PDT 2009,NO_QUERY,justinekepa,it is raining again,[rain]
610789,0,2224301193,Thu Jun 18 09:20:06 PDT 2009,NO_QUERY,cmatt007,@MissKeriBaby wish I was in LA right now,"[misskeribabi, wish, wa, la, right]"

In [29]:
lista = []
for x in df_sample['text_processed']:
    lista += x

In [30]:
from nltk.probability import FreqDist

fdist = FreqDist(lista)
voc = fdist.most_common(5000)
top = [x[0] for x in voc]

In [31]:
def find_features(document):
    words = set(document)
    features = {}
    for w in top:
        features[w] = (w in words)
    s = SentimentIntensityAnalyzer().polarity_scores(" ".join(document))
    if s["pos"] > 0.2:
        s = True
    else:
        s = False
    return (features, s)

feature = list(df_sample.text_processed.apply(find_features))

In [32]:
from nltk.corpus import names

train_set, test_set = feature[500:], feature[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)

classifier.show_most_informative_features()

Most Informative Features
                   great = True             True : False  =    200.0 : 1.0
                    love = True             True : False  =     82.0 : 1.0
                    best = True             True : False  =     66.4 : 1.0
                     wow = True             True : False  =     63.9 : 1.0
                    luck = True             True : False  =     54.3 : 1.0
                     yay = True             True : False  =     40.2 : 1.0
                    true = True             True : False  =     36.9 : 1.0
                   bless = True             True : False  =     36.9 : 1.0
                  hahaha = True             True : False  =     32.9 : 1.0
                    cute = True             True : False  =     32.2 : 1.0

In [33]:
from nltk.corpus import names

train_set, test_set = feature[500:], feature[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print("Classifier accuracy percent:",(nltk.classify.accuracy(classifier, test_set))*100)

Exception ignored in: <bound method SeekableUnicodeStreamReader.__del__ of <nltk.data.SeekableUnicodeStreamReader object at 0x000001DE4AED3908>>
Traceback (most recent call last):
  File "C:\Users\aleja\Anaconda3\lib\site-packages\nltk\data.py", line 1280, in __del__
    if not self.closed:
  File "C:\Users\aleja\Anaconda3\lib\site-packages\nltk\data.py", line 1294, in closed
    return self.stream.closed
AttributeError: 'SeekableUnicodeStreamReader' object has no attribute 'stream'

Classifier accuracy percent: 87.6