# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [36]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [14]:
df = data.groupby(['CustomerID', 'ProductName'])['Quantity'].sum()
df = pd.DataFrame(df)

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [15]:
table = pd.pivot_table(df, values='Quantity' , columns='CustomerID', index='ProductName', fill_value=0)
table.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [16]:
squareform(pdist(table.T, 'euclidean'))

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [21]:
distances = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'euclidean'))), 
                         index=table.columns, columns=table.columns)

similarities = distances[200].sort_values(ascending=False)[1:].head()
similarities

CustomerID
3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [30]:
step5 = df.loc[similarities.index]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [31]:
step6 = step5.groupby(['ProductName']).sum()['Quantity'].sort_values(ascending= False)
step6 = pd.DataFrame(step6)

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [33]:
step7 = [x for x in step6.index if x not in df.loc[200].index]
step7 = step6.loc[step7]
step7

                                  Quantity
ProductName
Soup - Campbells Bean Medley             4
Muffin - Carrot Individual Wrap          3
Bay Leaf                                 3
Pork - Kidney                            3
Wanton Wrap                              3
Ice Cream Bar - Oreo Cone                2
Cheese - Boursin, Garlic / Herbs         2
Chips Potato Salt Vinegar 43g            2
Chinese Foods - Chicken                  2
Lamb - Pieces, Diced                     2
Cheese Cloth No 100                      2
Sausage - Liver                          2
Scallops - 10/20                         2
Ice Cream Bar - Hageen Daz To            2
Scallops 60/80 Iqf                       2
Scampi Tail                              2
Cake - Box Window 10x10x2.5              2
Sole - Dover, Whole, Fresh               2
Juice - Orange                           2
Pate - Cognac                            2
Ezy Change Mophandle                     2
Muffin Batt - Blueberry Passion          2
Garbage Bags - Clear                     2
Fondant - Icing                          2
Foam Dinner Plate                        2
Fish - Scallops, Cold Smoked             2
Eggplant - Asian                         2
Pasta - Detalini, White, Fresh           2
Lime Cordial - Roses                     2
Dried Figs                               2
...                                    ...
Nut - Chestnuts, Whole                   1
Nantucket - Pomegranate Pear             1
Mushroom - Porcini, Dry                  1
Yeast Dry - Fermipan                     1
Milk Powder                              1
Milk - 2%                                1
Pork - Loin, Bone - In                   1
Macaroons - Two Bite Choc                1
Longos - Grilled Salmon With Bbq         1
Lettuce - Spring Mix                     1
Lettuce - Frisee                         1
Lambcasing                               1
Ocean Spray - Ruby Red                   1
Oil - Safflower                          1
Oil - Shortening - All - Purpose         1
Pork - Inside                            1
Pomello                                  1
Placemat - Scallop, White                1
Phyllo Dough                             1
Pepper - Paprika, Hungarian              1
Pastry - Choclate Baked                  1
Pasta - Penne, Rigate, Dry               1
Pasta - Orecchiette                      1
Pasta - Angel Hair                       1
Papayas                                  1
Pail For Lid 1537                        1
Otomegusa Dashi Konbu                    1
Oregano - Dry, Rubbed                    1
Onions - Cippolini                       1
Anchovy Paste - 56 G Tube                1

[165 rows x 1 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [34]:
lista = list(data['CustomerID'])
dictionary = {}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.