In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
MedianHouseholdIncome2015 = pd.read_csv('fatal/MedianHouseholdIncome2015.csv', encoding = "ISO-8859-1")
MedianHouseholdIncome2015.head(1)

  Geographic Area        City Median Income
0              AL  Abanda CDP         11207

In [26]:
PercentagePeopleBelowPovertyLevel = pd.read_csv('fatal/PercentagePeopleBelowPovertyLevel.csv', encoding = "ISO-8859-1")
PercentagePeopleBelowPovertyLevel.head(1)

  Geographic Area        City poverty_rate
0              AL  Abanda CDP         78.8

In [28]:
PercentOver25CompletedHighSchool = pd.read_csv('fatal/PercentOver25CompletedHighSchool.csv', encoding = "ISO-8859-1")
PercentOver25CompletedHighSchool.head(1)

  Geographic Area        City percent_completed_hs
0              AL  Abanda CDP                 21.2

In [29]:
PoliceKillingsUS = pd.read_csv('fatal/PoliceKillingsUS.csv', encoding = "ISO-8859-1")
PoliceKillingsUS.head(1)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False

In [30]:
ShareRaceByCity = pd.read_csv('fatal/ShareRaceByCity.csv', encoding = "ISO-8859-1")
ShareRaceByCity.head(1)

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6

In [22]:
PercentagePeopleBelowPovertyLevel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
Geographic Area    29329 non-null object
City               29329 non-null object
poverty_rate       29329 non-null object
dtypes: object(3)
memory usage: 687.5+ KB

In [34]:
null_cols = MedianHouseholdIncome2015.isnull().sum()
null_cols[null_cols > 0]

Median Income    51
dtype: int64

In [33]:
null_cols = PercentagePeopleBelowPovertyLevel.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [35]:
null_cols = PercentOver25CompletedHighSchool.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [37]:
null_cols = PoliceKillingsUS.isnull().sum()
null_cols[null_cols > 0]

armed      9
age       77
race     195
flee      65
dtype: int64

In [38]:
null_cols = ShareRaceByCity.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [15]:
PercentagePeopleBelowPovertyLevel['Geographic Area'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)